<br />
<br />
<div class="container">
    <br />
    <img src="~/Images/faleconosco.png" alt="Fale Conosco" />
    <div class="jumbotron">
        <h2>Queremos ouvir o que você tem a dizer</h2>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>


            <img src="~/Icons/email-envelope-outline-shape-with-rounded-corners_icon-icons.com_56530.png" />
            <email endereco="makoknive@gmail.com" conteudo="Enviar um e-mail"></email>
            <br />

            <img src="~/Icons/whichapplication_conversation_email_phone_7097.png" />
            (051)9759-5643
            <br />

            <img src="~/Icons/endereco.png" />
            Rua de teste que depois sera o endereço principal - Montenegro-RS
        </p>
    </div>
</div>




