<!--<img src="~/images/COLOCARIMAGEM" alt="Imagem de adm" class="marginTop1" />  para colocar uma imagem futuramente-->
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>area do Admin</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar</a>
</div>

