@model HomeViewModel

@await Html.PartialAsync("_Carousel")

<h2>Produtos em Destaque </h2>


<div class="row">
    @foreach (var produto in Model.ProdutosPreferidos)
    {
        //@Html.Partial("_ProdutosResumo", produto);

        // aspnet core versao 3.1
        <partial name="_ProdutosResumo" for="@produto" />
    }
</div>