@model ProdutoListViewModel

<div><h2>@Model.CategoriaAtual</h2></div>

@foreach (var produto in Model.Produtos)
{
    //versao antiga
  //@Html.Partial("_ProdutosResumo", produto);

    // aspnet core versao 3.1
    <partial name="_ProdutosResumo" for="@produto"/>


}